@import "./scss/nullstyle.scss";
@import "./scss/lg-style/header.scss";
@import "./scss/lg-style/main.scss";
@import "./scss/lg-style/footer.scss";
@import "./scss/lg-style/card.scss";
@import "./scss/lg-style/card-reviewer.scss";
@import "./scss/lg-style/form-put.scss";
@import "./scss/fonts.scss";

.container {
  max-width: 1100px;
  margin: auto;
}

body {
  font-family: 'Roboto';
}
