.wrap_card-reviewer {
  position: absolute;
  top     : 0;
  left    : 0;

  display: flex;

  background-color: rgb(0, 0, 0, 0.2);

  width : 100%;
  height: 100%;

  z-index: 2;

  .card-reviewer {
    margin : auto;
    padding: 5px;

    position: relative;

    align-self: center;

    max-width : 1100px;

    background: rgb(26, 138, 123);

    border-radius: 3px;

    &__title {
      width : 100%;

      padding: 5px;

      background: white;

      border-bottom: 4px solid rgb(26, 138, 123);
    }

    &__main {
      background: white;

      overflow: auto;
    }

    &__image {
      float: right;

      margin: 5px;

      width: 40%;

      img {
        width: 100%;
      }
    }

    &__content {

      &::after {
        content: '';
        display: block;
        clear  : both;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;

      margin-top: 4px;
    }

    &__btn-section {

      button {
        cursor: pointer;

        border: none;
        border-radius: 3px;

        color: white;

        width: 130px;
        height: 30px;
      }
    }

    &__btn-put {
      background: rgb(228, 164, 26);

      &:active {
        background: white;
        color: rgb(228, 164, 26);
      }
    }

    &__btn-delete {
      background: rgb(179, 73, 73);

      &:active {
        background: white;
        color: rgb(179, 73, 73);
      }
    }

    &__date {
      color: white;
    }
  }
}
