.main {
  background: rgb(224, 224, 224);

  &__section {
    height: 100vh;

    background: white;
  }

  &__date {
    padding   : 10px;
    text-align: right;
  }

  &__wrap-card {
    padding: 0 10px;

    height    : 77vh;

    display        : flex;
    justify-content: flex-start;
    flex-wrap      : wrap;

    overflow  : auto;
  }
}
