.main {
  background: rgb(224, 224, 224);

  &__section {
    height: 100vh;

    background: white;
  }

  &__date {
    padding   : 10px;
    text-align: right;
  }

  &__wrap-card {
    padding: 0 10px;

    height    : 77vh;

    display        : flex;
    justify-content: flex-start;
    flex-wrap      : wrap;

    overflow  : auto;
  }
}

.collage-item {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  background-color: rgba(211, 211, 211, 0.496);
  box-shadow: 0 0 5px 1px black;
  height: 180px;
  overflow: hidden;

  &__image {
    pointer-events: none;
  }

  &__discription {
    padding: 0 3px;
  }
}

.home {
  position: relative;
}

.hide {
  display: none;
}

.active {
  color: rgba(0, 0, 0, 0.598);
  font-weight: bolder;
  text-decoration: underline;
}
